<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
       
       <element required="true" type="text" scope="shop">
            <name>http_pass</name>
            <label lang="de">Legen Sie das HTTP-Passwort fest</label>
            <label lang="en">Set HTTP password</label>
        </element>        
    </elements>
</config>
