<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">User External Comment</label>
    <label lang="de">Externer Benutzerkommentar</label>
    <version>1.0.0</version>
    <link>https://apricode.co/</link>
    <author>Apricode</author>
    <compatibility minVersion="5.5.5" />
</plugin>
